<div id="<%= dom_id observation %>">
  <p>
    <strong>Content:</strong>
    <%= observation.content %>
  </p>

  <p>
    <strong>User:</strong>
    <%= observation.user_id %>
  </p>

  <p>
    <strong>Post:</strong>
    <%= observation.post_id %>
  </p>

</div>
