<% content_for :title, "Editing observation" %>

<h2 class="my-5 text-center" > Editando observación</h2>
<div class="container text-center ">
    <%= render "form", observation: @observation %>
</div>
<br>

<div>
  <%#= link_to "Show this observation", @observation %>
  <%#= link_to "Back to observations", observations_path %>
</div>
