<% content_for :title, "New observation" %>

<h2 class="container text-center ">Nueva observacion</h2>

<%= render "form", observation: @observation %>

<br>

<div>
   
  <%#= link_to "Back to observations", observations_path %>
</div>
