<h1 class="text-center"> Nuevo sitio de noticias llamado “TheRialNews”</h1>
<p class="text-center"> Esta plataforma es un lugar abierto, donde la libertad de expresión sea respetada hasta que sean afectadas la
 integridad o principios de otras personas</p>

