<% content_for :title, "Editando post" %>

<h2 class="container text-center ">Editando post</h2>

<div class="container text-center ">
    <%= render "form", post: @post %>
</div>
<%# <br> %>

<%# <div> %>
  <%# <%= link_to "Ver posteo", @post, class:"btn btn-dark" %> 
  <%# <%= link_to "Retornar a Post", posts_path, class:"btn btn-dark" %>
<%# </div> %>
