*{
    border: 0;
    padding: 0;
    margin: 0;
    font-family: 'open sans',  sans-serif; 
     /* background-color: rgb(136, 19, 19); */
     /* background-color:  rgb(235, 229, 229);  */
     /* font-family: 'Roboto',  sans-serif; */

   
 }

 
body {

    background-image: url("https://plus.unsplash.com/premium_photo-1729283814187-9b3d09e4ee32?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* background-size: 100%; */

  }


